<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <display-name>RegisterServlet</display-name>
        <description></description>
        <servlet-class>com.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <display-name>LoginServlet</display-name>
        <description></description>
        <servlet-class>com.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <display-name>LogoutServlet</display-name>
        <description></description>
        <servlet-class>com.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <display-name>MessageServlet</display-name>
        <description></description>
        <servlet-class>com.servlets.MessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <display-name>AdminLoginServlet</display-name>
        <description></description>
        <servlet-class>com.servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <display-name>ProductServlet</display-name>
        <description></description>
        <servlet-class>com.servlets.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testProductServlet</servlet-name>
        <display-name>testProductServlet</display-name>
        <description></description>
        <servlet-class>com.servlets.testProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WhishlistServlet</servlet-name>
        <display-name>WhishlistServlet</display-name>
        <description></description>
        <servlet-class>com.servlets.WhishlistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/MessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testProductServlet</servlet-name>
        <url-pattern>/testProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WhishlistServlet</servlet-name>
        <url-pattern>/WhishlistServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
